{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login-page') }}
{% endblock %}

{% block body %}
<form method="post" class="login-form">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="field-name">
        <label for="field-name">Имя:</label>
        <input id="field-name" type="text" value="{{ last_username }}" name="username" required autofocus>
    </div>
    <div class="field-password">
        <label for="field-password">Пароль:</label>
        <input id="field-password" type="password" name="password" required>
    </div>

    {% if error %}
        <div class="error">
            <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="btn-submit">
        <button type="submit">Вход</button>
    </div>
</form>
{% endblock %}
