{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login-page') }}
{% endblock %}

{% block body %}
<form method="post" class="table login">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div>
        <label>
            <span>Имя:</span>
            <input type="text" value="{{ last_username }}" name="username" required autofocus>
        </label>
    </div>
    <div>
        <label>
            <span>Пароль:</span>
            <input type="password" name="password" required>
        </label>
    </div>

    {% if error %}
        <div style="background: red";>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button type="submit">Вход</button>
</form>
{% endblock %}
