{% extends 'posting/layout.html.twig' %}

{% block posting_content %}
    {% for account in accounts %}
        <div class="month">
            <div class="month_name"><span>{{ account.name }}</span></div>
            <div class="salary">
                <table>
                    <tr>
                        <td>Всего</td>
                    </tr>
                    <tr>
                        <td>{{ account.sum | app_money }}</td>
                    </tr>
                </table>
            </div>
            <div class="view_detail">
                <a href="{{ path('web_trans_account', {id: account.id}) }}">Просмотр</a>
            </div>
        </div>
    {% endfor %}
        {% if credit != 0 %}
            <div class="month">
                <div class="month_name"><span>Одолжено</span></div>
                <div class="salary">
                    <table>
                        <tr>
                            <td>{{ credit | app_money }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
        <div class="link_to_add"><a href="{{ path('web_trans_create_category') }}">Добавить категорию</a></div>
{% endblock %}
