{% extends 'posting/layout.html.twig' %}

{% block title %}Главная{% endblock %}

{% block posting_content %}
    {% for account in accounts %}
        <div class="month">
            <div class="month-name"><span>{{ account.name }}</span></div>
            <div class="salary">
                <div class="sum">
                    <span>{{ account.sum | app_money }}</span>
                </div>
            </div>
            <div class="view-detail">
                <a href="{{ path('web_trans_account', {id: account.id}) }}">Просмотр</a>
            </div>
        </div>
    {% endfor %}
        {% if credit != 0 %}
            <div class="month">
                <div class="month-name"><span>Одолжено</span></div>
                <div class="salary">
                    <table>
                        <tr>
                            <td>{{ credit | app_money }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
        <div class="link-to-add"><a href="{{ path('web_trans_create_category') }}">Добавить категорию</a></div>
{% endblock %}
