{% extends 'posting/layout.html.twig' %}

{% block title %}Категории{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category') }}
{% endblock %}

{% block posting_content %}
    {% include 'posting/_posting-header.html.twig' with {'dto': account} only %}
    <div class="list after-posting-header">
        {% for category in categoriesNotNullSum %}
            <div class="item">
                <div class="name"><span>{{ category.name }}</span></div>
                <div class="sum">
                    <span>{{ category.sum | app_money }}</span>
                </div>
                <div class="action">
                    <a href="{{ path('web_trans_postings', {accountId: category.accountId, categoryId: category.id}) }}">Просмотр</a>
                </div>
            </div>
        {% endfor %}
        {% if categoriesWithNull %}
            <div class="additional-action">
                <div class="toggle-hidden-item">
                    <button class="btn">Показать скрытые</button>
                </div>
            </div>
            {% for category in categoriesWithNull %}
                <div class="item hide">
                    <div class="name"><span>{{ category.name }}</span></div>
                    <div class="sum">
                        <span>{{ category.sum | app_money }}</span>
                    </div>
                    <div class="action">
                        <a href="{{ path('web_trans_postings', {accountId: category.accountId, categoryId: category.id}) }}">Просмотр</a>
                        <a href="{{ path('web_trans_delete', {accountId: category.accountId, categoryId: category.id}) }}">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
