{% extends 'posting/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category') }}
{% endblock %}

{% block posting_content %}
    {% for category in categories %}
    <div class="month{{ category.sum == 0 ? ' hide' : '' }}">
        <div class="month-name"><span>{{ category.name }}</span></div>
        <div class="salary">
            <table>
                <tr>
                    <td>Всего</td>
                </tr>
                <tr>
                    <td>{{ category.sum | app_money }}</td>
                </tr>
            </table>
        </div>
        <div class="view-detail">
            <a href="{{ path('web_trans_postings', {accountId: category.accountId, categoryId: category.id}) }}">Просмотр</a>
        </div>
        {% if category.sum == 0 %}
            <div>
                <a href="{{ path('web_trans_delete', {accountId: category.accountId, categoryId: category.id}) }}">Удалить</a>
            </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="button-for-view-if-zero">
        <button>Показать скрытые</button>
    </div>
{% endblock %}
