{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('posting') }}
    {{ encore_entry_link_tags('toast') }}
    {{ encore_entry_link_tags('last-operations') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('toast') }}
{% endblock %}

{% block body %}
    <header>
        {% if backUrl is not null %}
            <a href="{{ backUrl }}">Назад</a>
        {% endif %}
        <a href="{{ path('app_logout') }}">Выход</a>
    </header>
    <main>
        {% block posting_content %}{% endblock %}
    </main>

    {% include 'posting/additional/_last-posting-operations.html.twig' %}
    {% include 'posting/additional/_toast-message.html.twig' %}
{% endblock %}
