{% extends 'posting/layout.html.twig' %}

{% block title %}Posting{% endblock %}

{% block posting_content %}
    <div class="posting-container">
        <div class="wrapper-form-add-payment">
            <div class="name">
                <span>Внести платёж: <strong>{{ category.name }}</strong> {{ category.sum | app_money }}</span>
            </div>
            {{ form(form) }}
        </div>
        <div class="wrapper-posting-list">
            <div class="wrapper-table">
                <table>
                    <tr>
                        <th>Дата платежа</th>
                        <th>Сумма</th>
                        <th>Операция</th>
                    </tr>
                    {% for posting in postings %}
                        <tr>
                            <td>{{ posting.dateOperation | date('d.m.Y') }}</td>
                            <td class="sum">{{ posting.money | app_money }}</td>
                            <td>{{ posting_type(posting) }}</td>
                        </tr>
                        {% if posting.comment is not null %}
                            <tr class="comment">
                                <td colspan="3">{{ posting.comment.comment }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
