{% extends 'posting/layout.html.twig' %}

{% block title %}Категория: {{ category.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const postingConfig = {
            limit: {{ limit }},
            amount: {{ amount }},
            url: '{{ loadUrl }}'
        };
    </script>
    {{ encore_entry_script_tags('posting-js') }}
{% endblock %}

{% block posting_content %}
    <div class="posting-header">
        <div>
            <strong>{{ category.name }}</strong> {{ category.sum | app_money }}
        </div>
    </div>
    <div class="posting-container">
        <div class="wrapper-form-add-payment">
            <div class="wrapper-btn">
                <button class="btn header-btn" id="collapsed-form-add">
                    <div>Внести платёж</div>
                    <div class="character">+</div>
                </button>
            </div>
            <div class="form-container collapsed">
                {{ form(form) }}
            </div>
        </div>
        <div class="wrapper-posting-list">
            <div class="posting-list-header">
                <div>Дата платежа</div>
                <div>Сумма</div>
                <div>Операция</div>
            </div>
            <div class="posting-list">
                {% include 'posting/_posting-list.html.twig' with {'postings' : postings} %}
            </div>
        </div>
        <div class="wrapper-loading-btn">
            <button class="btn" id="load-postings">
                <div>Загрузить еще</div>
                <div class="status begin"></div>
            </button>
        </div>
    </div>
{% endblock %}
