{% extends 'posting/layout.html.twig' %}

{% block title %}Posting{% endblock %}

{% block posting_content %}
    <div class="payment-add">
        <div class="month-name">
            <span>Внести платёж: <b>{{ category.name }}</b> {{ category.sum | app_money }}</span>
        </div>
        {{ form(form) }}
    </div>
    <div class="payment-list">
        <div class="month-name">Платежи внесенные ранее:</div>
        <div class="table">
            <div class="td1">Дата платежа</div>
            <div class="td2">Сумма</div>
            <div class="td3">Операция</div>
        </div>
        {% for posting in postings %}
        <div class="payment">
            <div class="table">
                <div class="td1">{{ posting.dateOperation | date('d.m.Y') }}<?= $payment['date']; ?></div>
                <div class="td2">{{ posting.money | app_money }}</div>
                <div class="td3">{{ posting_type(posting) }}</div>
            </div>
            {% if posting.comment is not null %}
            <div class="comment">
                <span class="td1">Комм:</span>
                <span class="comm">{{ posting.comment.comment }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
